@media screen and (max-width: 481px) {

    section#telefone {
        background-image: url(../imagens/frame-iphone2.png);
        width: 199px;
        height: 400px;
    }

    iframe#tela {
        left: 15px;
        top: 52px;
        width: 170px;
        height: 299px;
    }
}