@media screen and (max-width: 481px) {

    body, html {
        width: 100%;
        height: 700px;
    }

    section#telefone {
        background-image: url(../imagens/frame-iphone2.png);
        left: 40%;
        width: 224px;
        height: 450px;
    }

    iframe#tela {
        left: 17px;
        top: 59px;
        width: 191px;
        height: 336px;
    }

    section#redessociais {
        top: -470px;
    }

    section#redessociais > a > img {
        box-sizing: border-box;
        position: relative;
        width: 55px;
        height: 55px;
        margin: 7px;
        border-radius: 50%;
        transition: 0.3s;
    }
}