@media screen and (max-width: 481px) {

    body, html {
        width: 100%;
        height: 766px;
    }

    section#telefone {
        background-image: url(../imagens/frame-iphone2.png);
        left: 40%;
        width: 224px;
        height: 450px;
    }

    iframe#tela {
        left: 17px;
        top: 59px;
        width: 191px;
        height: 336px;
    }

    section#redessociais {
        top: -370px;
    }
}